---
// Layout import
import DefaultLayout from '../layouts/DEfaultLayout.astro';

// Componnet imports
import Header from '../components/Header.astro';
---

<DefaultLayout>
  <Header />
  <main>
    <h1>Nike</h1>
  </main>
  <footer></footer>
</DefaultLayout>
