---
// Layout import
import DefaultLayout from '../layouts/DefaultLayout.astro';

// Componnet imports
import Header from '../components/Header.astro';
import SectionHero from '../components/SectionHero.astro';
import SectionFeatured from '../components/SectionFeatured.astro';
import SectionTrending from '../components/SectionTrending.astro';
import SectionShoes from '../components/SectionShoes';
import Footer from '../components/Footer.astro';
import SectionMember from '../components/SectionMember.astro';
import HeaderScroll from '../components/HeaderScroll.astro';
---

<DefaultLayout title="NikeLite | Just Do It">
  <HeaderScroll />
  <Header />
  <main class="grid gap-4">
    <SectionHero />
    <SectionTrending />
    <SectionFeatured />
    <SectionShoes client:load />
    <SectionMember />
  </main>
  <Footer />
</DefaultLayout>

<style>
  main {
    width: min(100%, 85em);
    margin: 0 auto;
  }
</style>
