---
// Layout import
import DefaultLayout from '../layouts/DEfaultLayout.astro';

// Componnet imports
import Header from '../components/Header.astro';
import SectionHero from '../components/SectionHero.astro';
---

<DefaultLayout>
  <Header />
  <main>
    <SectionHero />
  </main>
  <footer></footer>
</DefaultLayout>
