---
import HeadSeo from '../components/HeadSeo.astro';
import HeaderScroll from '../components/HeaderScroll.astro';

const { title } = Astro.props;
---

<html lang="en-Us">
  <head>
    <HeadSeo title={title} />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body id="body" class="grid">
    <slot />
    <HeaderScroll />
  </body>
</html>
