---
import HeadSeo from '../components/HeadSeo.astro';

const { title } = Astro.props;
---

<html lang="en-Us">
  <head>
    <HeadSeo title={title} />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
