---
import HeadSeo from '../components/HeadSeo.astro';
---

<html lang="en-Us">
  <head>
    <HeadSeo />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
