---
import Nav from './Nav.astro';
---

<header id="header" class="hide" data-fixed="false">
  <a
    href="/"
    aria-label="Website logo"
    class="italic font-extrabold capitalize text-xl cursor-pointer hover:text-gray-600"
  >
    NikeLite
  </a>
  <Nav />
</header>

<style>
  header {
    @apply relative flex items-center justify-between px-8;
    transition: all 300ms ease-in-out;
  }

  header.hide {
    transform: translateY(-100%);
  }

  header[data-fixed='true'] {
    position: fixed;
    inset: 0 0 auto 0;
    background-color: var(--theme-bg);
    transform: translateY(0);
    transition: all 300ms ease-in-out;
  }
</style>
