---
interface Props {
  href: string;
  name: string;
  isFilled?: boolean;
  classes?: string;
}

const { href, name, isFilled, classes } = Astro.props;
---

<a
  class:list={['links', classes]}
  href={href}
  data-filled={isFilled ? 'true' : 'false'}
>
  {name}
</a>

<style>
  a.links {
    @apply px-4 py-2  rounded-full border border-transparent font-bold hover:opacity-80 transition-all;
  }

  a[data-filled='true'] {
    background-color: var(--theme-link);
    color: var(--theme-bg);
  }
</style>
