---
import Links from './Links.astro';
const navLinks = [
  {
    name: 'Men',
    href: '/men/',
  },
  {
    name: 'Women',
    href: '/women',
  },
  {
    name: 'Kids',
    href: '/kids/',
  },
];
---

<nav
  aria-label="Bar navigation of the website"
  class="flex-1 flex items-center justify-between p-4"
>
  <ul aria-label="Navigation links" class="flex flex-1 justify-center gap-4">
    {
      navLinks.map((link) => (
        <li>
          <a
            class="p-4 border-b-4 border-transparent hover:border-gray-900 transition-all"
            href={link.href}
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
  <Links name="Join Us" href="/join/" classes="hide" isFilled={true} />
</nav>

<style is:global>
  @media (width < 40em) {
    .hide {
      display: none;
    }
  }
</style>
