---
const navLinks = [
  {
    name: 'Men',
    href: '/men/',
  },
  {
    name: 'Women',
    href: '/women',
  },
  {
    name: 'Kids',
    href: '/kids/',
  },
];
---

<nav aria-label="Bar navigation of the website">
  <ul aria-label="Navigation links">
    {
      navLinks.map((link) => (
        <li>
          <a href={link.href}>{link.name}</a>
        </li>
      ))
    }
  </ul>
  <a href="/joinUs/">Join Us</a>
</nav>
