---
---

<nav aria-label="Bar navigation of the website">
  <ul aria-label="Navigation links">
    <li><a href="#planes">Features</a></li>
    <li><a href="#testimonials">Affiliates</a></li>
    <li><a href="#pricing">Pricing</a></li>
    <li><a href="">Communities</a></li>
  </ul>
  <a href="/joinUs/">Join Us</a>
</nav>
