---
---

<section aria-labelBy="featured" class="p-4 my-12">
  <h2 id="featured">Featured</h2>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div>
      <img src="/Images/featured-img.jpg" alt="Nike runing shoes" />
    </div>
    <div>
      <div class="grid grid-cols-2">
        <img src="/Images/shoes/nike-logo.jpg" alt="Shoes display" />
        <img src="/Images/shoes/shoes-featured.png" alt="Shoes display" />
        <img src="/Images/shoes/shoes-featured-2.png" alt="Shoes display" />
        <img src="/Images/shoes/shoes-featured-3.png" alt="Shoes display" />
      </div>
      <div>
        <p>Must-Have Air Max</p>
        <a href="/">Shop All</a>
      </div>
    </div>
  </div>
</section>
