---
import CardLink from './CardLink.astro';
---

<section>
  <h2>Trending</h2>
  <div class="grid grid-cols-4">
    <CardLink name="testing" image="/Images/cards/card-image-1.jpg" />
    <CardLink name="testing" image="/Images/cards/card-image-1.jpg" />
    <CardLink name="testing" image="/Images/cards/card-image-1.jpg" />
    <CardLink name="testing" image="/Images/cards/card-image-1.jpg" />
  </div>
</section>
