---
// component imports
import Links from './Links.astro';

// images

const shoes = [
  {
    image: '/Images/shoes/nike-logo.jpg',
    alt: 'Nike Air max logo',
  },
  {
    image: '/Images/shoes/shoes-featured.png',
    alt: 'Nike Air max logo',
  },
  {
    image: '/Images/shoes/shoes-featured.png',
    alt: 'Nike Air max logo',
  },
  {
    image: '/Images/shoes/shoes-featured.png',
    alt: 'Nike Air max logo',
  },
];
---

<section id="featured" aria-labelBy="featured" class="p-4 my-12">
  <h2 class="text-2xl font-bold mb-8">Featured</h2>
  <div class="lg:h-[40em] grid gap-4 grid-cols-1 lg:grid-cols-2">
    <article class="relative h-full">
      <img
        class="object-cover w-full lg:h-[40em]"
        src="/Images/featured-img.jpg"
        alt="Woman doing yoga"
      />
      <div
        class="absolute bottom-4 p-4 flex flex-col items-start gap-6 w-[15em] bg-white"
      >
        <h3 class="font-bold text-2xl">Rise and Shine in phoenix fleece</h3>
        <Links name="Shop" href="/" isFilled={true} />
      </div>
    </article>
    <div class="flex flex-col aspect-[6/4]">
      <div class="lg:h-full flex-1 grid grid-cols-2 border border-gray-900">
        {
          shoes.map((shoe) => (
            <img
              class="border border-gray-800 p-4 aspect-video object-contain object-center w-full"
              src={shoe.image}
              alt={shoe.alt}
            />
          ))
        }
      </div>
      <div
        class="p-6 lg:h-[15em] flex flex-col items-start justify-center gap-4"
      >
        <p class="font-bold text-2xl">Must-Have Air Max</p>
        <Links name="Shop All" href="/" isFilled={true} />
      </div>
    </div>
  </div>
</section>
